@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 30px;
  font-weight: 400;
  color: #a09e9e;
  font-style: normal;
}

.ql-container {
  min-height: 400px;
}