@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply text-base leading-7;
  }

  span {
    @apply text-base leading-7 tracking-normal;
  }
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
  font-size: 30px;
  font-weight: 400;
  color: #a09e9e;
  font-style: normal;
}

.ql-container {
  min-height: 300px;
}

.commentForm .ql-container {
  min-height: 100px;
}

.commentForm .quill>.ql-container>.ql-editor.ql-blank::before {
  font-size: 20px;
}